.overlay {
    background: var(--blue) url('/background.svg') no-repeat 0%;
    display: flex;
    background-size: 45%;
    position: fixed;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.6s;
}

.container {
    display: flex;
    flex-direction: column;
 
} 

.logo{
    display: flex;
    padding-bottom: 5rem;
    width: 100%
}

.container strong {
    display: flex;
    font-size: 3rem;
    font-weight: 600;
    color: var(--white);
    padding-bottom: 2rem;
}

.container p {
    display: flex;
    align-items: center;
    max-width: 80%;
    color: #B2B9FF;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.container p img {
    display: flex;
    padding-right: 1.5rem;
}

.container form {
    display: flex;
    width: 120%;
}

.container form input {
    display: flex;
    flex: 1;
    height: 5rem;
    padding: 0 2rem;
    border: 0;
    border-radius: 5px 0 0 5px;
    color: #B2B9FF;
    background: rgb(73,83,184);
    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
}

.container form input::placeholder {
    color: #B2B9FF;
}

.buttonDisabled {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background: var(--blue-dark);
    border-radius: 0px 5px 5px 0px;
    border: 0;
    color: #fff;
    transition: background-color 0.2s;
}

.buttonWorking {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background: var(--green);
    border-radius: 0px 5px 5px 0px;
    border: 0;
}

@media (min-width: 1280px) {
    .overlay{
        justify-content: flex-end;
    }

    .container {
        margin-right: 10rem;
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
}

@media (min-width: 728px) and (max-width: 1280px) {
    .overlay{    
        justify-content: flex-end;
    }

    .container {
        margin-right: 10rem;
        padding-top: 6rem;
        margin-bottom: 4rem;
    }
}

@media (min-width: 100px) and (max-width: 728px) {
    .overlay{    
        justify-content: center;
        padding: 0 5rem;
    }

    .container form input {
        max-width: 15rem;
        padding: 0 2rem;
    }
}
