* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@media (min-width: 728px) and (max-width: 1180px) {
    * {
        box-sizing : initial;
    }
}

@media (min-width: 100px) and (max-width: 728px) {
    * {
        box-sizing : initial;
    }
}

:root {
    --white: #fff;
    --background: #F2F3F5;
    --gray-line: #DCDDE0;
    --text: #666666;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --red: #E83F5B;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-dark: #4953b8;
    --blue-twitter: #2AA9E0;
}

@media(min-width: 1920px){
    html {
        font-size: 100.75%;
    }
}

@media(max-width: 1180px){
    html {
        font-size: 75.75%;
    }
}

@media(max-width: 728px){
    html {
        font-size: 86.5%;
    }
}

@media(max-width: 400px){
    html {
        font-size: 60.5%;
    }
}

body {
    background: var(--background);
    color: var(--text);
}

body, input, textarea, button {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit
}
